<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
  body
    header
    main
      .container
        form(method="POST")
          .input-container
            label(for="login") Логин
            input(type="text" id="login" name="login" placeholder="Введите свой логин")
          .input-container
            label(for="pass") Пароль
            input(type="password" id="pass" name="pass" placeholder="Введите свой пароль")
          button(type="submit") Войти
    footer
    script(src="/js/login.js")