<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
  body
    header
    main
      .container
        p Лицевой счёт № #{account}
        p ФИО: #{fio}
        p Адрес: #{street}
        form(action="", method="POST")
          .input-container
            label(for="sum"/label)
            input(type="text" id="sum" name="sum" placeholder="Введите сумму оплаты" required="true")
          button(type="submit") Оплатить
    footer
    script.
      document.addEventListener("submit", submitHandler);

      function submitHandler(evt) {
        const form = evt.target;
        const data = new FormData(form);

        fetch(form.action, {
            method: form.method,
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({sum: data.get('sum')})
        });

        evt.preventDefault();
      }
